<h2>Список продуктов</h2>
<ul>
  <li *ngFor="let product of products">
    {{ product.name }} - {{ product.price }}
  </li>
</ul>

<h3>Добавить продукт</h3>
<form>
  <div>
    <label for="name">Имя продукта:</label>
    <input
      id="name"
      name="newProductName"
      type="text"
      placeholder="Введите название продукта"
    />
  </div>
  <div>
    <label for="price">Цена продукта:</label>
    <input
      id="price"
      name="newProductPrice"
      type="number"
      placeholder="Введите цену продукта"
    />
  </div>
  <button type="button">Добавить продукт</button>
</form>