<div *ngIf="!products.length; else productList" class="empty-list">
  The product list is empty
</div>

<ng-template #productList>
  <h2>Product List</h2>

  <ul>
    <li *ngFor="let product of products">
      {{ product.name }} - {{ product.price | currency:'USD' }}
    </li>
  </ul>

  <h3>Add Product</h3>
  <form>
    <div>
      <label for="name">Product Name:</label>
      <input
        id="name"
        name="newProductName"
        type="text"
        [(ngModel)]="newProductName"
        placeholder="Enter the product name"
      />
    </div>
    <div>
      <label for="price">Product Price:</label>
      <input
        id="price"
        name="newProductPrice"
        type="number"
        [(ngModel)]="newProductPrice"
        placeholder="Enter the product price"
      />
    </div>
    <button type="button" (click)="addProduct()">Add Product</button>
  </form>
</ng-template>
